@(totalForm: Form[ThanksCard])(reSections: HashMap[String, String])(card: List[ThanksCard])(user: List[User])(count: Iterator[Integer])(user_name: Iterator[String])

@import helper._

<html>

<head>
	<style>

	#search{border:1px solid #dcdcdc;
		margin:20px;
		padding:0 0 20px 20px;
		width:300px;
	}

	 #rank{width:750px;
	 border:1px solid #dcdcdc;
	 padding:10px;

	 margin:30px 0 0 80px;


	 }


	</style>
</head>

	<body>
	@common("集計画面"){
		<h1>集計画面</h1>

	<DIV id="search">

	<h2>検索オプション</h2>

		@form(routes.Total.search()){

			@*@select(totalForm("receive.section.sectionName"),options(reSections), '_default -> "-- 部署 --", '_label -> "")*@
			@select(totalForm("sectionfind"),options(reSections), '_default -> "-- 部署 --", '_label -> "")

			<input type="submit" value="検索">
		}
</DIV>

<DIV id=rank>

	<h3>検索結果</h3>

	@if(card.isEmpty()){
	一致は一件もありませんでした
	}else{

		<table border="1" style="table-layout: auto;">
			<thead style="background-color:#bbb;">



				<tr>
					<th>ランキング</th>
					<th>名前</th>
					<th>感謝された数</th>
					<th>いいね！数</th>
					<th>内容</th>
				</tr>
			</thead>
			<tbody>
	@for(t <- user){
				<tr>
					<td>@count.next</td>
					<td>
					@if(user_name.hasNext()){
					@user_name.next()
					}else{
					count.get(0)
					}
					</td>
					<td>
					@if(count.hasNext()){
					@count.next()
					}else{
					count.get(0)
					}</td>
					<td>count.get(0)</td>
					<td>card.helpText</td>
				</tr>
			}
			</tbody>
		</table>
	}

</DIV>

	}
	</body>
</html>