@(userList: List[User])

<html>

<head>

<style>

</style>

</head>

	<body>
	@common("ユーザ一覧ページ"){

		<a href="@routes.Users.index()">ユーザ一覧</a>
		<a href="@routes.Users.newUser()">ユーザ登録</a>


		<h1>社員一覧</h1>

		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>ユーザ名</th>
					<th>パスワード</th>
				</tr>
			</thead>
			<tbody>
			@for(u <- userList){
				<tr>
					<td>@u.userID</td>
					<td>@u.userName</td>
					<td>@u.userPassword</td>
				</tr>
			}
			</tbody>
		</table>
	}
	</body>
</html>
