

<html>

<head>
	<style>
	 #search{border:1px solid #dcdcdc;
	 		padding:5px;
			height:120px;
			margin-bottom:50px;
	 		}

	 .box{width:380px;
	/* 			border:1px solid #dcdcdc;	*/
	 			float:left;
	 }

	 #BBS{width:750px;
	 border:1px solid #dcdcdc;
	 padding:10px;
	 float:right;

	 }


	#changeBtn{border:1px solid #dcdcdc;
				padding:10px;
				text-align:center;
	}

	</style>
</head>

	<body>
	@common("掲示板"){
		<h1>掲示板</h1>

	<DIV id=search>
	<h2>検索</h2>

<form method="get" action="#" class="search">

	<div class="box">
	感謝された人: <select name ="receptionSection">
				  <option value="a">部署A</option>
				  <option value="b">部署B</option>
				  </select>
				  <select name ="receptionName">
				  <option value="a">Aさん</option>
				  <option value="b">Bさん</option>
				  </select>
<br><br>
	感謝した人&nbsp;&nbsp;&nbsp;：<select name ="userSection">
				  <option value="a">部署A</option>
				  <option value="b">部署B</option>
				  </select>
				  <select name ="userName">
				  <option value="a">Aさん</option>
				  <option value="b">Bさん</option>
				  </select>
	</div>

	<div class="box">
	　　日付：<input type="date" name=year>
				<input type="date" name=month>
	<br>
	カテゴリ：<select name ="Category">
				  <option value="debag">デバッグ</option>
				  <option value="clean">環境整備</option>
				  <option value="other">その他</option>
				  </select>
	</div>

	<input type="submit" value="検索" class="btn">

</form>

	</DIV>

	<h2>今月の代表事例</h2>
	<DIV id="BBS">


		<table border="1" style="table-layout: auto;">
			<thead style="background-color:#bbb;">
				<tr>
					<th>日付</th>
					<th>部署</th>
					<th>名前</th>
					<th>カテゴリ</th>
					<th>してもらったこと</th>
					<th>感謝の言葉</th>
					<th>部署</th>
					<th>名前</th>
					<th>いいね！</th>
					<th>詳細</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>date</th>
					<th>section</th>
					<th>name</th>
					<th>category</th>
					<th>helpText</th>
					<th>thanksText</th>
					<th>section</th>
					<th>name</th>
					<th>goodCount</th>
					<th>btn</th>
				</tr>
			</tbody>
		</table>

	</DIV>

	<div id=changeBtn>
			<input type="button" name="lastMonth" onclick="location.href='@routes.Bbs.lastMonth()'" value="先月の事例">
<br>
			<input type="button" name="thisMonth" onclick="location.href='@routes.Bbs.index()'" value="今月の事例">
	</div>

	}
	</body>
</html>