@(card: List[ThanksCard])(bbsForm: Form[ThanksCard])(reSections: HashMap[String, String])(reName: HashMap[String, String])(seSections: HashMap[String, String])(seName: HashMap[String, String])(category: HashMap[String, String])
@import helper._

<html>

<head>
	<style>
	 #search{border:1px solid #dcdcdc;
	 		padding:5px;
			height:150px;
			margin-bottom:50px;
	 		}

	 #BBS{width:850px;
	 border:1px solid #dcdcdc;
	 padding:10px;
	 float:right;

	 }


	#changeBtn{border:1px solid #dcdcdc;
				padding:10px;
				text-align:center;
	}

	</style>




	<script type="text/javascript">
//いいねボタンのリンクなんとかしたい！

	</script>
</head>

	<body>
	@common("掲示板"){
		<h1>掲示板</h1>

	<DIV id=search>
	<h2>検索</h2>

		@form(routes.Bbs.search()){

<table>
		<tr>
		<th>感謝された人</th>
		<th>	@select(bbsForm("receive.section.sectionID"),options(reSections), '_default -> "-- 部署 --", '_label -> "")</th>
		<th>	@select(bbsForm("receive.userID"),options(reName), '_default -> "-- 名前 --", '_label -> "")</th>
		<th>&nbsp;&nbsp;&nbsp;</th>
		<th>日付</th>
		<th>	@inputDate(bbsForm("helpDate"), '_label -> "")</th>
		</tr>
		<tr>
		<th>感謝した人&nbsp;</th>
		<th>@select(bbsForm("send.section.sectionID"),options(seSections), '_default -> "-- 部署 --", '_label -> "")</th>
		<th>@select(bbsForm("send.userID"),options(seName), '_default -> "-- 名前 --", '_label -> "")</th>
		<th style="width:100px"></th>
		<th>カテゴリ</th>
		<th>	@select(bbsForm("category.categoryID"),options(category), '_default -> "-- カテゴリ --", '_label -> "")</th>
		<th><input type="submit" value="検索" class="btn" style="margin-left:50px;"></th>
		</tr>

		</table>


		}



	</DIV>

	<h2>今月の代表事例</h2>
	<DIV id="BBS">





		<table border="1" style="table-layout: auto;">
			<thead style="background-color:#bbb;">
				<tr>
					<th rowspan="2">日付</th>
					<th colspan="3">感謝された人</th>
					<th rowspan="2">カテゴリ</th>
					<th rowspan="2">してもらったこと</th>
					<th rowspan="2">感謝の言葉</th>
					<th colspan="3">感謝した人</th>
					<th rowspan="2">いいね！</th>
					<th rowspan="2">詳細</th>
				</tr>
				<tr>
					<th colspan="2">部署</th>
					<th>名前</th>
					<th colspan="2">部署</th>
					<th>名前</th>
				</tr>
			</thead>
			<tbody>
				@for(c <- card){
					<tr>
						<th>@c.helpDate</th>
						<th colspan="2">@c.receive.section.sectionName</th>
						<th>@c.receive.userName</th>
						<th>@c.category.categoryName</th>
						<th>@c.helpText</th>
						<th>@c.thanksText</th>
						<th colspan="2">@c.send.section.sectionName</th>
						<th>@c.send.userName</th>
						<th>@form(routes.Bbs.good(c.cardID)){<input type="submit" value="いいね！"/>}</th>
						<th>@form(routes.Bbs.popup(c.cardID)){<input type = "button"  value = "詳細"
					onclick="window.open('@routes.Bbs.popup(c.cardID)','win','width=500,height=400,menubar=yes,status=yes,scrollbars=yes') ; return false ;" />}</th>
					</tr>
				}
			</tbody>
		</table>

	</DIV>

	<div id=changeBtn>
			<input type="button" name="lastMonth" onclick="location.href='@routes.Bbs.lastMonth()'" value="先月の事例">
<br>
			<input type="button" name="thisMonth" onclick="location.href='@routes.Bbs.index()'" value="今月の事例">
	</div>

	}
	</body>
</html>