@(card: List[ThanksCard])(bbsForm: Form[ThanksCard])(reSections: HashMap[String, String])(reName: HashMap[String, String])(seSections: HashMap[String, String])(seName: HashMap[String, String])(category: HashMap[String, String])
@import helper._

<html>

<head>
	<style>
	 #search{border:1px solid #dcdcdc;
	 		padding:5px;

			margin-bottom:50px;
	 		}

	 #BBS{width:750px;
	 border:1px solid #dcdcdc;
	 padding:10px;
	 float:right;

	 }


	#changeBtn{border:1px solid #dcdcdc;
				padding:10px;
				text-align:center;
	}

	</style>
</head>

	<body>
	@common("掲示板"){
		<h1>掲示板</h1>

	<DIV id=search>
	<h2>検索</h2>

		@form(routes.Bbs.search()){

		<h3>感謝された人</h3>
			@select(bbsForm("receive.section.sectionID"),options(reSections), '_default -> "-- 部署 --", '_label -> "部署")
			@select(bbsForm("receive.userID"),options(reName), '_default -> "-- 名前 --", '_label -> "")
		<h3>感謝した人</h3>
			@select(bbsForm("send.section.sectionID"),options(seSections), '_default -> "-- 部署 --", '_label -> "")
			@select(bbsForm("send.userID"),options(seName), '_default -> "-- 名前 --", '_label -> "")
		<h3>日付</h3>
			@inputDate(bbsForm("helpDate"), '_label -> "")
		<h3>カテゴリ</h3>
			@select(bbsForm("category.categoryID"),options(category), '_default -> "-- カテゴリ --", '_label -> "")

			<input type="submit" value="検索" class="btn">

		}

	</DIV>

	<h2>今月の代表事例</h2>
	<DIV id="BBS">


		<table border="1" style="table-layout: auto;">
			<thead style="background-color:#bbb;">
				<tr>
					<th>日付</th>
					<th>部署</th>
					<th>名前</th>
					<th>カテゴリ</th>
					<th>してもらったこと</th>
					<th>感謝の言葉</th>
					<th>部署</th>
					<th>名前</th>
					<th>いいね！</th>
					<th>詳細
					</th>
				</tr>
			</thead>
			<tbody>
				@for(c <- card){
					<tr>
						<th>@c.helpDate</th>
						<th>@c.receive.section.sectionName</th>
						<th>@c.receive.userName</th>
						<th>@c.category.categoryName</th>
						<th>@c.helpText</th>
						<th>@c.thanksText</th>
						<th>@c.send.section.sectionName</th>
						<th>@c.send.userName</th>
						<th>@form(routes.Bbs.good(c.cardID)){<input type="submit" value="いいね！"/>}</th>
						<th>@form(routes.Bbs.popup()){<input type = "button"  value = "詳細"
					onclick="window.open('@routes.Bbs.popup()','win','width=500,height=400,menubar=yes,status=yes,scrollbars=yes') ; return false ;" />}</th>
					</tr>
				}
			</tbody>
		</table>

	</DIV>

	<div id=changeBtn>
			<input type="button" name="lastMonth" onclick="location.href='@routes.Bbs.lastMonth()'" value="先月の事例">
<br>
			<input type="button" name="thisMonth" onclick="location.href='@routes.Bbs.index()'" value="今月の事例">
	</div>

	}
	</body>
</html>