@(searchList: List[ThanksCard], dateSearch: List[ThanksCard], recSecSearch: List[ThanksCard])
@import helper._

<html>

<head>
	<style>
	 #search{border:1px solid #dcdcdc;
	 		padding:5px;

			margin-bottom:50px;
	 		}

	 #BBS{width:750px;
	 border:1px solid #dcdcdc;
	 padding:10px;
	 float:right;

	 }


	#changeBtn{border:1px solid #dcdcdc;
				padding:10px;
				text-align:center;
	}

	</style>
</head>

	<body>
	@common("掲示板"){
		<h1>掲示板</h1>

	<h2>検索結果</h2>
	<DIV id="BBS">


		<table border="1" style="table-layout: auto;">
			<thead style="background-color:#bbb;">
				<tr>
					<th>日付</th>
					<th>部署</th>
					<th>名前</th>
					<th>カテゴリ</th>
					<th>してもらったこと</th>
					<th>感謝の言葉</th>
					<th>部署</th>
					<th>名前</th>
					<th>いいね！</th>
					<th><input type = "button"  value = "詳細"/>

					</th>
				</tr>
			</thead>
			<tbody>
				@for(c <- recSecSearch){
					<tr>
						<th>@c.helpDate</th>
						<th>@c.receive.section.sectionName</th>
						<th>@c.receive.userName</th>
						<th>@c.category.categoryName</th>
						<th>@c.helpText</th>
						<th>@c.thanksText</th>
						<th>@c.send.section.sectionName</th>
						<th>@c.send.userName</th>
						<th>goodCount</th>
						<th>btn</th>
					</tr>
				}
			</tbody>
		</table>

	</DIV>

	<div id=changeBtn>
			<input type="button" name="lastMonth" onclick="location.href='@routes.Bbs.lastMonth()'" value="先月の事例">
<br>
			<input type="button" name="thisMonth" onclick="location.href='@routes.Bbs.index()'" value="今月の事例">
	</div>

	}
	</body>
</html>