

<html>

<head>
	<style>

	#formName{/*border:1px solid #dcdcdc;*/
		text-align:right;
		float:left;
		margin-left:150px;

	}

	#form{border:1px solid #dcdcdc;
		width:700px;
		padding:20px;
		margin-left:100px;



	}

	</style>
</head>

	<body>
	@common("感謝カード入力"){
		<h1>感謝カード入力</h1>

		<div id=formName>

		<h3>感謝される人：</h3>
		<br>
		<h3>してもらったこと：</h3>
		<br><br><br>
		<h3>感謝の言葉：</h3>
		<br>
		<h3>日付：</h3>

		<h3>カテゴリ：</h3>
		</div>


	<DIV id =form>

		<!感謝される人>
				<select name ="receptionSection">
				  <option value="a">部署A</option>
				  <option value="b">部署B</option>
				  </select>
				  <select name ="receptionName">
				  <option value="a">Aさん</option>
				  <option value="b">Bさん</option>
				  </select>
			<br><br>
		<!してもらったこと>
				<textarea name="example" cols="50" rows="6"></textarea>
			<br><br>
		<!感謝の言葉>
				<textarea name="example" cols="50" rows="6"></textarea>
	 		<br><br>
	 	<!日付>
	 			<input type="text" name="date">
	 		<br><br>
		<!カテゴリ>
				<select name ="Category">
				  <option value="debag">デバッグ</option>
				  <option value="clean">環境整備</option>
				  <option value="other">その他</option>
				  </select>
			<br><br>

			<input style="margin-left:200px;" type="submit" name="send" onclick="" value="登録">
			<input style="margin-left:100px;" type="button" name="reset" onclick="" value="クリア">

	</DIV>


	}
	</body>
</html>