@(sendForm: Form[ThanksCard])(reSections: HashMap[String, String])(reName: HashMap[String, String])(category: HashMap[String, String])

@import helper._

<html>

<head>
	<style>

 	#formName{/*border:1px solid #dcdcdc; */
		text-align:right;
		float:left;
		margin:40px 0 0 150px;

	}

	#form{border:1px solid #dcdcdc;
		width:700px;
		padding:20px;
		margin-left:50px;



	}

	</style>
</head>

	<body>
	@common("感謝カード入力"){
		<h1>感謝カード入力</h1>

		<div id=formName>

		<h3>感謝される人：</h3>
		<br>
		<h3>してもらったこと：</h3>
		<br><br><br>
		<h3>感謝の言葉：</h3>
		<br>
		<h3>日付：</h3>

		<h3>カテゴリ：</h3>
		</div>


	<DIV id =form>
	@form(routes.Send.create()){

			@select(sendForm("receive.section.sectionID"),options(reSections), '_default -> "-- 部署 --", '_label -> "")
			@select(sendForm("receive.userID"),options(reName), '_default -> "-- 名前 --", '_label -> "")
			@textarea(sendForm("helpText"), 'cols -> 50,  'rows -> 6, '_label -> "")
			@textarea(sendForm("thanksText"), 'cols -> 50,  'rows -> 6, '_label -> "")
			@inputDate(sendForm("helpDate"), '_label -> "")
			@select(sendForm("category.categoryID"),options(category), '_default -> "-- カテゴリ --", '_label -> "")




			<input style="margin-left:200px;" type="submit"
			 onclick="alert('送信完了しました。');"   value="登録" />
			 <input style="margin-left:50px;" type="button" name="reset" onclick="" value="クリア">
	}

	</DIV>


	}
	</body>
</html>

