@(sectionForm: Form[Section])

@import helper._

<html>
<head>

<style>

.manage{border:1px solid #dcdcdc;
		margin:10px;
		}

</style>

</head>

	<body>
	@common("部署登録画面"){

		<h1>部署登録</h1>

<div class = "manage">

		<h2>登録する部署</h2>

		@form(routes.Sections.createSection()){
			@inputText(sectionForm("sectionID"),'_label -> "部署ID")
			@inputText(sectionForm("sectionName"),'_label -> "部署名")

			<input type="submit" value="登録">
		}
</div>


		<h1>部署変更</h1>
<div class = "manage">

		<h2>変更する部署</h2>

		@form(routes.Sections.createSection()){
			@inputText(sectionForm("sectionID"),'_label -> "部署ID")
			@inputText(sectionForm("sectionName"),'_label -> "部署名")

			<h2>変更後</h2>

			@inputText(sectionForm("sectionName"),'_label -> "部署名")

			<input type="submit" value="変更">
		}
</div>

		<h1>部署削除</h1>
<div class = "manage">

		<h2>削除</h2>

		@form(routes.Sections.createSection()){
			@inputText(sectionForm("sectionID"),'_label -> "部署ID")

			<input type="submit" value="削除">
		}
</div>

	}
	</body>
</html>