@(loginForm: Form[Login])

@import helper._
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

</head>

<body>
<DIV id =content>

	<h1 style="background-color:#c0c0c0; padding:10px;">ContentTilte</h1>
	@common("ログイン画面"){

	<h1>ログイン画面</h1>

		@form(routes.Login.authenticate()){
			@inputText(loginForm("userCD"),'_label -> "社員ID")
			@inputPassword(loginForm("userPassword"),'_label -> "パスワード")
			<input type="submit" value="ログイン">
		}
	}
</DIV>

</body>
</html>